.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 98vh;
}

.message-bar {
  width: 50vw;
  height: 30px;
  border-radius: 12px;
  border: 1px solid black;
  box-shadow: none;
  font-size: 16px;
}

.submit-button {
  height: 35px; 
  width: 80px;
  background-color: rgb(60, 92, 207);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form {
  display: flex;
  justify-content: space-around;
  width: 60%;
}